// Bulma Import
@import '~bulma';
//- @import '~bulmaswatch/darkly/bulmaswatch';
//-@import '~bulma-list/sass/bulma-list';

.is-radio-button {
  label {
    @extend button
  }

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
  }
}
.is-disabled {
  cursor: not-allowed;
  pointer-events: none;
  color: transparent;
  opacity: 0.6;
}

$card-border-width: 1px !default;
$card-border-color: rgba(#000, .125) !default;

.card-border {
  @extend .is-shadowless;
  border: $card-border-width solid $card-border-color;
}
